<div id="app_container">
    <ng2-toasty></ng2-toasty>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" routerLink="/">{{appTitle}}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div *ngIf="isUserLoggedIn" class="collapse navbar-collapse" id="navbarsExample09">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" routerLinkActive="active" *ngIf="canViewCustomers">
                            <a class="nav-link" routerLink="/customers">{{'mainMenu.Customers' | translate}}</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-light">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:;">
                                {{'app.Welcome' | translate}}&nbsp; <i class="fa fa-user-o" aria-hidden="true"></i> &nbsp;{{userName}}
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/settings"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
                        <li class="nav-item" (click)="logout()">
                            <a class="nav-link" href="javascript:;"><i class="fa fa-sign-out" aria-hidden="true"></i> {{'mainMenu.Logout' | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <footer class="footer">
        <div class="container">
            <p>
                <span class="appName">App</span> &copy; <a href="/">myApp</a>
            </p>
        </div>
    </footer>
    <div id="pre-bootstrap" *ngIf="!removePrebootScreen" [class.prebootShow.app-component]="!isAppLoaded" class="app-component prebootStep">
        <div class="messaging">
            <h1>
                Loaded!
            </h1>
            <p>
                <span class="appName">App</span> &copy; <a href="/">myApp</a>
            </p>
        </div>
    </div>
    <div id="mainContent" class="app-component">
        <router-outlet></router-outlet>
    </div>
    <div *ngIf="shouldShowLoginModal" class="modal fade" bsModal #loginModal="bs-modal" (onShown)="onLoginModalShown()" (onHidden)="onLoginModalHidden()" (onHide)="onLoginModalHide()"
         [config]="{backdrop: 'static'}" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <app-login #loginControl isModal="true"></app-login>
        </div>
    </div>
</div>