<div class="container">
    <main role="main">
        <!--<header class="pageHeader">
            <h4><i class="fa fa-cog fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.Settings' | translate}}</h4>
        </header>-->
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
            <h3><i class="fa fa-cog fa-lg page-caption" aria-hidden="true"></i>&nbsp;</h3>
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">{{'pageHeader.Settings' | translate}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <nav>
                    <div class="nav flex-column nav-pills" id="nav-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-item nav-link active" id="nav-userprofile-tab" data-toggle="tab" href="#nav-userprofile" role="tab" aria-controls="nav-userprofile" aria-selected="true">{{'settings.tab.Profile' | translate}}</a>
                        <a class="nav-item nav-link" id="nav-preferences-tab" data-toggle="tab" href="#nav-preferences" role="tab" aria-controls="nav-preferences" aria-selected="false">{{'settings.tab.Preferences' | translate}}</a>
                        <a class="nav-item nav-link" id="nav-users-tab" data-toggle="tab" href="#nav-users" role="tab" aria-controls="nav-users" aria-selected="false">{{'settings.tab.Users' | translate}}</a>
                        <a class="nav-item nav-link" id="nav-rol-tab" data-toggle="tab" href="#nav-rol" role="tab" aria-controls="nav-rol" aria-selected="false">{{'settings.tab.Roles' | translate}}</a>
                    </div>
                </nav>
            </div>
            <div class="col-9">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-userprofile" role="tabpanel" aria-labelledby="nav-userprofile-tab">
                        <h4>{{'settings.header.UserProfile' | translate}}</h4>
                        <hr class="separator-hr" />
                        <user-info></user-info>
                    </div>
                    <div class="tab-pane fade" id="nav-preferences" role="tabpanel" aria-labelledby="nav-preferences-tab">
                        <h4>{{'settings.header.UserPreferences' | translate}}</h4>
                        <hr class="separator-hr" />
                        <user-preferences></user-preferences>
                    </div>
                    <div class="tab-pane fade" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
                        <h4>{{'settings.header.UsersManagements' | translate}}</h4>
                        <hr class="separator-hr" />
                        <users-management></users-management>
                    </div>
                    <div class="tab-pane fade" id="nav-rol" role="tabpanel" aria-labelledby="nav-rol-tab">
                        <h4>{{'settings.header.RolesManagement' | translate}}</h4>
                        <hr class="separator-hr" />
                        <roles-management></roles-management>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>